.job-item {
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(36, 1fr);
  align-items: center;
  border-bottom: 1px solid #f4f5f7;
  cursor: pointer;
  i {
    margin-right: 0.3rem;
    font-size: 1.3rem;
  }

  &:hover {
    background-color: #f4f5f7;
    cursor: pointer;
  }
  &__title {
    display: flex;
    justify-content: flex-start;
    grid-column: 1/9;
  }
  &__location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 9/15;
  }
  &__type {
    grid-column: 15/17;
  }
  &__salary {
    grid-column: 17/23;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn {
    grid-column: 31/-1;
    background-color: #0172c2;
    border: none;
    outline: none;
    border-radius: 200px;
    color: #fff;
    padding: 0.8rem 1.5rem !important;
    margin-left: auto;
    transition: all 0.3s ease-in;
    padding: 1rem 0;
    text-align: center;
    &:hover {
      cursor: pointer;
      background-color: darken($color: #0172c2, $amount: 10);
    }
  }
  &__deadline {
    grid-column: 23/31;
  }
  &__deadline span {
    color: rgba(255, 0, 0, 0.856);
  }
  h4 {
    margin-left: 1rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 1250px) {
  .job-item {
    padding: 1rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(206, 195, 195, 0.582);
    margin-bottom: 1rem;
    color: #000;
    text-align: center;

    &__btn {
      margin: 0 auto;
      margin-top: 1rem;
      @media (max-width: 800px) {
        width: 50%;
      }
      @media (min-width: 800px) {
        width: 30%;
      }
    }
  }
}

.dashboard {
  padding: 1rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background: rgba(206, 195, 195, 0.582);
  margin-bottom: 1rem;
  color: #000;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;

  & > * {
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  i {
    margin-right: 1rem;
  }
  & &__admin-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    border: none;
    &--edit {
      background-color: #006ccbab;
      color: #fff;
      &:hover {
        background-color: darken($color: #006ccbab, $amount: 5);
      }
    }
    &--delete {
      background-color: rgba(255, 0, 0, 0.877);
      color: #fff;
      &:hover {
        background-color: darken($color: rgba(255, 0, 0, 0.877), $amount: 5);
      }
    }
  }
  .job-item__btn {
    width: 100%;
    display: inline-block;
    padding: 0.8rem 0;
    margin-top: 0.5rem;
  }
}
.user-pagination {
  width: 35%;
  margin: auto;
  margin-top: 1rem;
}
