.homePage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 85vh;
  padding: 0 5rem;
  @media (max-width: 1200px) {
    padding: 0.5em;
  }
  &__role-box {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1100px) {
      display: block;
      width: 100%;
      margin-top: -5rem;
    }
  }
  &__primary {
    transform: translateY(20%);
    width: 50%;
    position: relative;
    @media (max-width: 1200px) {
      width: 100%;
    }

    h1 {
      color: #334e6f;
      font-size: 380%;
      font-weight: 600;
      @media (max-width: 1350px) {
        display: block;
        font-size: 200%;
        font-weight: 600;
      }
    }
    p {
      color: #888;
      margin-top: -0.5rem;
      margin-bottom: 1rem;
      font-size: 105%;
    }
    form {
      display: flex;
      margin-top: 2rem;
      width: 100%;
      position: absolute;
      top: 20%;
      @media (max-width: 1200px) {
        margin-top: -2rem;
      }

      .edit {
        position: absolute;
        top: 40%;
        left: 2%;
        color: #555;
        font-size: 110%;
      }

      input {
        width: 94%;
        padding: 1.4rem 2.6rem;
        border: 0.1px solid #ddd;
        box-shadow: 0 0rem 1rem rgba($color: #eee, $alpha: 9);
        @media (max-width: 570px) {
          width: 99.5%;
        }
      }

      button {
        position: absolute;
        left: 64%;
        top: 3%;
        background-color: rgb(0, 136, 254);
        color: #fff;
        width: 30%;
        padding: 1.3rem 2.5rem;
        border-radius: 5%;
        border: none;
        outline: none;
        cursor: pointer;

        @media (max-width: 600px) {
          width: 35%;
          padding: 1.25rem 0;
        }
      }
    }
  }
  &__image {
    position: absolute;
    left: 55%;
    max-height: 77vh;
    @media (max-width: 1200px) {
      display: none;
    }
  }
}
