html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// .App {
//   font-family: 'Open Sans Condensed', sans-serif;
//   font-size: 1rem;
//   // font-size: 1rem;
//   // line-height: 1.6;
//   // font-weight: 400;
//   color: #555;
//   // letter-spacing: 0.08rem;
//   margin: 0 auto;
//   max-width: 1240px;
// }

.App {
  // padding: 5rem;
}
