.categoryItem {
  color: red;
  padding: 3.5rem 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba($color: #000000, $alpha: 0.5);
  cursor: pointer;

  &:hover .categoryItem__anime {
    animation: iconAnimation 0.5s ease-out;
    animation-fill-mode: forwards;
  }

  // &__icon {
  //   margin-top: -1rem;
  // }

  &__name {
    margin-top: 1rem;
    font-size: 130%;
    color: #334e6f;
  }

  &__num {
    color: #aaa;
  }

  &__anime {
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 2%;
  }
}

@keyframes iconAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translate(40%, -30%);
  }
}
